{
  "root": true,
  "plugins": ["react", "prettier"],
  "extends": [
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "linebreak-style": ["error", "windows"],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ]
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect",
      "requireConfigFile": false
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
